page-home {

}

.image {
    display:block;
    width:50%;
    height:auto;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    margin-left: auto;
    margin-right: auto;
 }
 
 .circle-pic{
    -webkit-border-radius: 50%;
    border-radius: 50%;
 }